.CardText__title {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

.CardText__text {
    margin-top: 0;
    margin-bottom: 1rem;
}
